* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
  background-color: #eff1f8;
}

a {
  text-decoration: none
}

.content-box {
  position: absolute;
  left: 108px;
  right: 0;
  top: 76px;
  bottom: 0;
  padding-bottom: 30px;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  background: #fff;
  border-radius: 25px;
  display: flex;
}

.blank {
  position: relative;
  width: 192px;
  background-color: skyblue;
}

.content {
  width: auto;
  height: 100%;
  padding: 28px 60px 36px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.container {
  border-radius: 5px;
}

.sidebar>ul>.el-sub-menu:hover,
.sidebar>ul>.el-menu-item:hover {
  background-color: #eff1f8;
}

.sidebar>ul>.el-sub-menu p.item-title {
  width: 120px;
  margin-bottom: 13px;
  font-size: 20px;
  color: #333;
  padding-left: 30px;
  padding-top: 0px;
  font-weight: 450;
  border-radius: 25px;
}

.sidebar>ul>li.el-sub-menu>ul.el-menu {
  position: absolute;
  top: 20px;
  left: 108px;
  background-color: #fff;
  width: 120px;
  z-index: 9;
  bottom: 0;
}

.sidebar ul.el-menu>li.sec-menu-li>div.el-sub-menu__title {
  background-color: #fff !important;
  color: #333 !important;
  padding: 0 0 0 25px !important;
  font-size: 13px;
}

.sidebar ul.el-menu>li.sec-menu-li>ul.el-menu>li.thr-menu-li {
  background-color: #fff;
  color: #666 !important;
  padding: 0 0 0 13px;
  font-size: 10px;
  margin: 0;
  min-width: 96px;
  height: 44px !important;
}


.sidebar ul.el-menu>li.sec-menu-li>ul.el-menu>li.thr-menu-li>p.thr-p {
  width: 96px;
  text-align: center;
  border-radius: 8px;
  height: 42px;
  line-height: 42px;
}

.sidebar ul.el-menu>li.sec-menu-li>ul.el-menu>li.thr-menu-li>p.thr-p:hover {
  background-color: #f5f7ff;
  color: #3e7fff;
}

.sidebar ul.el-menu>li.sec-menu-li>ul.el-menu>li.thr-menu-li.is-active>.thr-p {
  background-color: #f5f7ff;
  color: #3e7fff;
}